.background {

}

#myLabel {
  font-size: 65;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 72%;
  y: 25%+0;
  fill: #00f900;
}

.sensor-label {
  font-family: System-Regular;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 10%;
  y: 10%+0;
}

.sensor-data {
  font-family: System-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 82%;
  y: 65%+0;
  font-size: 40;
}

#txtSteps {
  font-family: System-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 31%;
  y: 96%+0;
  font-size: 40;
}

.date-text {
  font-family: Seville;
  font-size: 26;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 50%+39;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

#txtBattery {
  font-family: System-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 31%;
  y: 96%+0;
  font-size: 40;
}