.background {

}

#myLabel {
  font-size: 60;
  font-family: Fabrikat-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 72%;
  y: 25%+0;
  fill: #00f900;
}

.sensor-label {
  font-family: Fabrikat-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 10%;
  y: 10%+0;
}

.sensor-data {
  font-family: Fabrikat-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 83%;
  y: 60%+0;
  font-size: 40;
}

#txtSteps {
  font-family: Fabrikat-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 82%;
  y: 92%+0;
  font-size: 25;
}


#date {
 font-size: 30;
  font-family: Fabrikat-Bold;
  text-length: 35;
  text-anchor: middle;
  x: 72%;
  y: 35%+0;
  fill: #00f900;
}

.battery-label {
  font-size: 30;
  font-family: Seville-Bold;
  text-length: 32;
  text-anchor: start;
  fill: fb-black;
}

#myCals {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 50%;
  y: 235;
  fill: #f8fcf8;
}

