.background {

}

#myLabel {
  font-size: 60;
  font-family: Fabrikat-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 72%;
  y: 25%+0;
  fill: #00f900;
}

.sensor-label {
  font-family: Fabrikat-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 10%;
  y: 10%+0;
}

.sensor-data {
  font-family: Fabrikat-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 83%;
  y: 60%+0;
  font-size: 40;
}

#txtSteps {
  font-family: Fabrikat-Bold;
  fill: #00f900;
  text-anchor: middle;
  text-length: 32;
  x: 82%;
  y: 93%+0;
  font-size: 25;
}


#date {
 font-size: 30;
  font-family: Fabrikat-Bold;
  text-length: 35;
  text-anchor: middle;
  x: 72%;
  y: 35%+0;
  fill: #00f900;
}

#myCalories {
  font-size: 25;
  font-family: Fabrikat-Bold;
  text-anchor: middle;
  text-length: 35;
  x: 82%;
  y: 83%+0;
  fill: #00f900;
}

#batteryLabel{
  font-size: 25;
  font-family: Fabrikat-Bold;
  text-anchor: middle;
  text-length: 35;
  x: 15%;
  y: 15%+0;
  fill: #00f900;
}

#activeMinutes{
  font-size: 25;
  font-family: Fabrikat-Bold;
  text-anchor: middle;
  text-length: 35;
  x: 82%;
  y: 73%+0;
  fill: #00f900;
}

